//{
//    "env": {
//    "es6": true
//},
//    "rules": {
//    "no-var": "error",
//    "no-console": "error",
//    "semi": "error",
//    "indent": "error",
//    "no-multi-spaces": "error",
//    "space-in-parens": "error",
//    "no-multiple-empty-lines": "error",
//    "prefer-const": "error",
//    "no-use-before-define": "error"
//}
//}

{
    "plugins": [
        "react",
        "react-hooks"
    ],
    "extends": [
        "plugin:@typescript-eslint/recommended",
        "prettier",
        "prettier/react"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 11,
        "sourceType": "module"
    },
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "rules": {
        "no-debugger": "off",
        "no-console": "error",
        "no-var": "error"
    }
}
